a:hover {
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-primary {
  background-color: #3089e8;
}

.btn-primary:hover {
  background-color: #3089e8;
}

.btn-primary:active {
  background-color: #3089e8;
}
.btn-danger {
  background-color: #ca1a1a;
}
.btn-danger:hover {
  background-color: #ca1a1a;
}
.btn-danger:active {
  background-color: #ca1a1a;
}
